.star_full{
  color: yellow;
}

.star_empty{
  color: black;
  initial-letter: 3.0;
}


.bar_rating{
  width: 100%;
  height: 5px;
  background-color: #e9ecef;
  position: relative;
  initial-letter: 3.0;
}

.bar_fill_rating{
  background-color: #17a2b8;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 45%; */
}