.card_restaurant_container_column{
  width: 210px;
  border-radius: 13px;
  height: 250px;
  display: grid;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}
.card_restaurant_container_row{
  width: 100%;
  border-radius: 13px;
  display: grid;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  grid-template-columns: 1fr 2fr;
}
.image_row{
  display: grid;
  background-image: url("../../../public/image_rappidin.png");
  background-size: cover;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.image{
  display: grid;
  background-image: url("../../../public/image_rappidin.png");
  background-size: cover;
  height: 115px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
 

.estado{
  background-color: #f1025c;
  color: white;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  padding: 1px 5px 2px 5px;
  margin-top: 5px;
  margin-left: 7px;
}

.icon_bookmark{
  
  background-color: white;
  position: relative;
  top: -34px;
  left: 183px;
  width: 20px;
  height: 20px;
  padding: 3px 4px;
  border-radius: 50%;
}
.icon_book_mark_row{
  background-color: white;
  position: relative;
  top: -36px;
  left: 120px;
  width: 20px;
  height: 20px;
  padding: 3px 4px;
  border-radius: 50%;
}

.starts_container{
  display: grid;
  grid-template-columns: 20px 1fr;
  background-color: #28a745;
  color: #ecf7ef;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 1.5px 0;
  align-self: end;
  margin-bottom: 7px; 
}
.calification{
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
}
.icon_start{
  margin-left: 3px;
  font-size: 14px;
}
.card_description{
  padding: 5px 10px;

}

.card_text { 
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card_time {
  display: grid;
  background-color: #f8f9fa;
  grid-template-columns: 15px 1fr;
  width: 47%;
  gap: 5px;
  align-items: center;
  padding: 3px 6px;
  justify-content: center;
}

.card_text_time{
  font-size: 11px;
}
.icon{
  font-size: 14px;
}
.card_text_subtitle{
  font-size: 13px;
  margin-bottom: 5px;
}

.price{
  display: grid;
  justify-items: end;
}

.card_text_price{
  font-size: 12px;
  opacity: 0.5;
}

.ofertas{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 12px;
  margin-top: 10px;
  align-items: center;
}

.card_text_offer{
  font-size: 10px;
  background-color: #f1025c;
  color: #feeef3;
  border-radius: 6px;
  font-weight: 700;
  height: 15px;
  text-align: center;
}

.card_text_coupon{
  font-size: 12px;
  font-weight: 500;
}