.navigation_container{
  display: grid;
 
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.navigator_menu{
 
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 60px 1fr 1fr;
  grid-template-rows: 18px 60px;
  margin-bottom: 15px;
  width: 93%;

}
.image{
  
  grid-row: 1/3;
  grid-column: 3/4;
}
.list_item{
  background-color: white;
  /*grid-row: 2/3;*/
  align-self: center;
  height: 55px;
  display: grid;
  justify-items: center;
}

.menu_container{
  display: grid;
  grid-template-columns: 1fr 1fr 60px 1fr 1fr;
  grid-row: 2/3;
  grid-column: 1/6;
  justify-items: center;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}



.icon{
  color: black;
  margin-top: 10px;
  font-size: 20px;
}

.texto{
  font-size: 11px;
  font-weight: 600;
}